*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*BACKGROUND GRADIENT*/
body{
    justify-content: center;
    box-sizing: border-box;
    background-color: #ffcbea;
}

.absolute{
    position: absolute;
    top: 50px I !important;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
}

.justify-center{
    justify-content: center;
}

.bg-shape1{
    width: 1000px;
    height: 1000px;
    border-radius: 9999px;
    position: relative;
    animation: one 10s infinite;
    mix-blend-mode: multiply;
}

.bg-shape2{
    width: 800px;
    height: 800px;
    border-radius: 9999px;
    position: relative;
    animation: two 10s infinite;
    mix-blend-mode: multiply;
}

.bg-shape3{
    width: 1200px;
    height: 1200px;
    border-radius: 9999px;
    position: relative;
    animation: three 10s infinite;
    mix-blend-mode: multiply;
}

@keyframes one{
    0%{left: 0px; top: 0px;}
    25%{left: -100px; top: 70px;}
    50%{left: 20px; top: 150px;}
    75%{left: 50px; top: 100px;}
    100%{left: 0px; top: 0px;}
}

@keyframes two{
    0%{left: 0px; top: 0px;}
    25%{left: 50px; top: 10px;}
    50%{left: 100px; top: 50px;}
    75%{left: 50px; top: 100px;}
    100%{left: 0px; top: 0px;}
}

@keyframes three{
    0%{left: 0px; top: 0px;}
    25%{left: 100px; top: 0px;}
    50%{left: 60px; top: 60px;}
    75%{left: 50px; top: 100px;}
    100%{left: 0px; top: 0px;}
}

.opacity-50{
    opacity: .5;
}

.bg-blur{
    filter: blur(90px);
}

.bg-pink1{
    background-color: #cc7997;
}

.bg-pink2{
    background-color: #e6a9bf;
}

.bg-pink3{
    background-color: #cc7997;
}

/*TEXT*/

h1{
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    color: #e4b9c9;
    mix-blend-mode: lighten;
}

@media only screen and (max-width: 500px){
    h1{
        font-size: 40px;
        text-decoration: none;
    }
    .container{
        font-size: 10px;
    }
    .container .nav,
    .container .footer{
        padding: 1em;
    }
    .bg-shape1{
        width: 600px;
        height: 600px;
        border-radius: 9999px;
        position: relative;
        animation: one 10s infinite;
        mix-blend-mode: multiply;
    }
    .bg-shape2{
        width: 400px;
        height: 400px;
        border-radius: 9999px;
        position: relative;
        animation: two 10s infinite;
        mix-blend-mode: multiply;
    }
    .bg-shape3{
        width: 400px;
        height: 400px;
        border-radius: 9999px;
        position: relative;
        animation: three 10s infinite;
        mix-blend-mode: multiply;
    }
    .nav-items a:not(:last-child) {
        padding-right: 1em;
    }
    .container{
        height: 80vh;
        font-size: 10px;
        overflow: hidden;
    }
}


.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
  }
  
  .container .nav,
  .container .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2em 4em;
    text-decoration: none;
    color:#e196b2;
    mix-blend-mode: multiply;
  }

  .nav a{
    text-decoration: none;
  }

  .nav a:hover{
    color: #ab5676;
  }
  
  .nav-items a {
    text-decoration: none;
    color:#e196b2;
    mix-blend-mode: multiply;
  }
  
  .nav-items a:not(:last-child) {
    padding-right: 4em;
  }

  a:visited{
    text-decoration: none;
    color: #e196b2;
  }
